.container {
  width: 400px;
  margin-top: 60px;
  padding: 0 20px;
}

.about {
  width: 100%;
  margin-top: 25px;
}

.about-header {
  margin-bottom: 20px;
}

.about-paragraph {
  text-align: justify !important;
}

.btn {
  width: 100%;
}

.btn-browse {
  margin-bottom: 7px;
}

.output {
  margin-top: 40px;
}

.output-loading {
  margin-top: 20px;
}

.file-path-wrapper {
  padding-left: 1px !important;
  margin-right: 1px;
}

.edit-icon {
  margin-left: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.disable-btn {
  pointer-events: none;
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.spinner-container {
  margin-top: 20px;
}

.switch-container {
  margin-bottom: 25px;
}

.output-spinner {
  width: 15px !important;
  height: 15px !important;
  margin: 5px 0px -2px 5px !important;
}

#output-path {
  font-weight: bold;
}
